// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question{
  margin: 0 auto;
  width:30vw;
  height: 30vh;
  border: 3px green solid; 
  h3{
    text-align: center;
  }
  p{
    text-align: center;
  }
}

.form{
  text-align:center;
  .answer{
    font-size: 15px;
    width:30vw;
    height: 30vh;
    border: 3px black solid; 
    text-align: center;
  }
  .btn{
    margin: 0 auto;
  }
}